@import "main.css";

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.reg-form {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 15px;
}

.reg-form-element{
    padding: 20px 0;
    display: flex;
    justify-content: center;    
}

.reg-form-element div.icon {
    flex: 0 0 40px;
    justify-self: start;
    align-self: flex-end;
}

.reg-form-element div.form-element {
    flex: 1 1 260px;
}

div.input input {
    width: 100%;
}

div.input input[type="text"], input[type="email"], input[type="tel"] {
    border: none;
    border-bottom: 2px solid #dcdcdca3;
    padding-top: 15px;
    font-size:16px;
}

input:focus {
    outline: none;    
  }


/* For Email and Mobile */
.group-input-section {
    display: flex;
}

.group-section {
    width: 100%;
    display: flex;
}

.group-section .group {
    flex: 1 1 200px;
    margin-right: 10px;
}

.group-input-section .form-element {
    display: flex; 
}

.group-section .status {
    flex: 0 0 20px;
    margin-right: 10px;
}

.show-switch {
    flex: 0 0 50px;
    justify-self: flex-end;
    justify-content: center;
}

.status {
    position: relative;
    bottom: 0;    
    align-self: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 18px;
    color: white;
    overflow: hidden;

}

.status i {
    position: relative;
    right: 8px;
    bottom: 8px
}

.good {
    background-color: #00c68b;    
}



.bad {   
    color: black;  
    width: 26px;
    height: 26px;
    border: 2px solid black;      
}

div.show-switch {
    display: inline-block;
}

.show-switch input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 20px;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
}

.show-switch input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(109, 107, 107);
    border-radius: 20px;
    transform: scale(1.3);
    transition: 0.5s;
}

.show-switch input:checked[type="checkbox"]::before {
    margin-left: 20px;
    background: #3bdd51;
}

.reg-form-element ul {
    list-style: none;
}

.reg-form-element ul li {
    display: inline-block;
    border: #cfc847 solid 2px;
    padding: 5px;
}

.button-radio-group {
    display: inline-flex;
    overflow: hidden;   
    border-radius: 8px;
    height: 100%;
    align-items: center;
}

.radio-button {
    display: none;
}

.radio-button:checked+.radio-label {
    background-color: #cac226;
    color: black;
}

.radio-label {
    padding: 10px;
    color: #cac226;
    cursor: pointer;
    border: #cac226 solid 1px;
}

.radio-label:first-of-type {   
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.radio-label:last-child {    
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


/* Submit Button */

input[type="submit"] {       
    display: block;
    width: 260px;
    padding: 10px 60px;
    margin: auto;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Social Section */

.section-label {
    background-color: #e7ebee;
    padding: 20px;
    margin-bottom: 30px;
}

.section-label i {
    margin-right: 20px;
}

.section-label span {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.social-links {
    display: flex;
    width: 100%;
    justify-content: center;
}

.social-links div {
    padding: 20px 10px;
    flex: 0 1 45px;
    flex-wrap: nowrap;
}

.social-links i {
    font-size: 45px;
    color: rgb(161, 163, 165);
}

/* 
.qualifications {
   

}

.work-experience {
    
} */

/* Qualification Section */

.content {
    text-align: center;
}

.content input[type="button"] {
    width: 260px;
    padding: 10px 60px;
    display: block;
    margin: auto;
    border: 2px black solid;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
}



/* Responsive */
@media screen and (min-width: 769px) {

    
    .reg-form {
        max-width: 700px;
        margin: 0 auto;
        padding: 0 15px;
        font-size: 1.5em;
    }
    input[type="submit"], input[type="button"] , .reg-form input::placeholder , .content p{
        font-size: 1.4rem;
    }

    div.input input[type="text"], input[type="email"], input[type="tel"] {       
        font-size:24px;
    }

    .icon i.fa{
        font-size: 45px;
    }

    .icon span {
        font-size: 45px;
    }

    .reg-form i.fa {
        font-size: 40px;
    }

    .reg-form-element div.icon {
        flex: 0 0 60px;
        justify-self: start;
        align-self: flex-end;
    }
    
    .good, .bad {        
        padding: 25px;
    }
    .status i.fa {
        position: relative;
        right: 16px;
        bottom: 14px;        
    }
    
    div.social-links {       
        margin-bottom: 30px;
    }

    div.social-links i.fa {
        font-size: 80px;
    }
  
    
    
}


/* Hide an element */
.hide {
    display: none;
}