{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'socialapp/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'socialapp/style.css' %}">
    <script src="{% static 'socialapp/script.js' %}" defer></script>
    <title>Register</title>
</head>

<body>
    <header>
        <div class="container">

        </div>
    </header>

    <main>
        <div class="container">
            <div>
                <form class="reg-form" action="" method="POST">
                    <div class="reg-form-element">
                        <div class="icon"><i class="fa fa-user fa-lg" aria-hidden="true"></i></div>
                        <div class="form-element">
                            <div class="label">Name<label for="name"></label>
                            </div>
                            <div class="input"><input type="text" name="name" id="name" placeholder="e.g. Name Surname"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="reg-form-element">
                        <div class="icon"><i class="fa fa-at fa-lg" aria-hidden="true"></i></div>
                        <div class="form-element">
                            <div class="label"><label for="handle">Handle</label>
                            </div>
                            <div class="input"><input type="text" name="handle" id="handle"
                                    placeholder="e.g. Name Surname" required>
                            </div>
                        </div>
                    </div>

                    <div class="reg-form-element">
                        <div class="icon"><i class="fa fa-briefcase fa-lg" aria-hidden="true"></i></div>
                        <div class="form-element">
                            <div class="label"><label for="profession">Profession</label></div>
                            <div class="input"><input type="text" name="profession" id="profession"
                                    placeholder="e.g. Software Engineer"></div>
                        </div>
                    </div>
                    <div class="reg-form-element">
                        <div class="icon"><i class="fa fa-crosshairs fa-lg" aria-hidden="true"></i></div>
                        <div class="form-element">
                            <div class="label"><label for="currentlocation">Current Location</label></div>
                            <div class="input"><input type="text" name="currentlocation" id="currentlocation"
                                    placeholder="e.g. Bangaluru" required></div>
                        </div>
                    </div>
                    <div class="reg-form-element">
                        <div class="icon"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></div>
                        <div class="form-element">
                            <div class="label"><label for="location">Location</label></div>
                            <div class="input"><input type="text" name="location" id="location"
                                    placeholder="e.g. Mumbai" required>
                            </div>
                        </div>
                    </div>
                    <div class="reg-form-element">
                        <div class="icon"><i class="fa fa-file-text fa-lg" aria-hidden="true"></i></div>
                        <div class="form-element">
                            <div class="label"><label for="bio">Bio</label></div>
                            <div class="input"><input type="text" name="bio" id="bio" placeholder="e.g. About your bio">
                            </div>
                        </div>
                    </div>
                    <div class="reg-form-element">
                        <div class="icon"><i class="fa fa-birthday-cake fa-lg" aria-hidden="true"></i></div>
                        <div class="form-element">
                            <div class="label"><label for="dob">Date of Birth</label></div>
                            <div class="input"><input type="text" name="dob" id="dob" placeholder="e.g. dd/mm/yyyy"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="reg-form-element">
                        <div class="icon"><i class="fa fa-globe fa-lg" aria-hidden="true"></i></div>
                        <div class="form-element">

                            <div class="label"><label for="website">Website</label></div>
                            <div class="input"><input type="text" name="website" id="website"
                                    placeholder="e.g. www.yourwebsite.com"></div>
                        </div>
                    </div>

                    <!-- Email Section -->
                    <div class="reg-form-element group-input-section">
                        <div class="icon"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="form-element">
                            <div class="group-section">
                                <div class="group">
                                    <div class=" label"><label for="email">E-mail</label></div>
                                    <div class="input"><input type="email" name="email" id="email"
                                            placeholder="Enter your email address" required></div>
                                </div>
                                <div class="status good hide"><i class="fa fa-check fa-lg" aria-hidden="true"></i></div>
                            </div>
                            <div class="show-switch">
                                <div><label for="show">Show</label></div>
                                <div><input type="checkbox" id="show"></div>
                            </div>
                        </div>
                    </div> <!-- Email Section -->


                    <!-- Mobile Section -->
                    <div class="reg-form-element group-input-section">
                        <div class="icon"><i class="fa fa-mobile-phone fa-lg" aria-hidden="true"></i></div>
                        <div class="form-element">
                            <div class="group-section">
                                <div class="group">
                                    <div class="label"><label for="mobile">Mobile</label></div>
                                    <div class="input"><input type="tel" name="mobile" id="mobile"
                                            placeholder="Enter your phone number" required></div>
                                </div>
                                <div class="status bad hide"><i class="fa fa-times fa-lg" aria-hidden="true"></i></div>
                            </div>
                            <div class="show-switch">
                                <div><label for="show">Show</label></div>
                                <div><input type="checkbox" id="show"></div>
                            </div>
                        </div>

                    </div> <!-- Mobile Section -->


                    <div class="reg-form-element">
                        <div class="icon"><i class="fa fa-venus-mars fa-lg" aria-hidden="true"></i></div>
                        <div class="form-element">
                            <div class="label"><label for="gender">Gender</label></div>
                            <div class="button-radio-group">
                                <input class="radio-button" type="radio" name="gender" id="genderfemale">
                                <label class="radio-label" for="genderfemale">Female</label>
                                <input class="radio-button" type="radio" name="gender" id="gendermale">
                                <label class="radio-label" for="gendermale">Male</label>
                                <input class="radio-button" type="radio" name="gender" id="genderothers">
                                <label class="radio-label" for="genderothers">Others</label>
                            </div>
                        </div>
                    </div>
                    <div class="reg-form-element">
                        <div class="icon"><i class="fa fa-heart fa-lg" aria-hidden="true"></i></div>
                        <div class="form-element">
                            <div class="label"><label for="maritalstatus">Marital Status</label></div>
                            <div class="button-radio-group">
                                <input class="radio-button" type="radio" name="married" id="married">
                                <label class="radio-label" for="married">Married</label>
                                <input class="radio-button" type="radio" name="married" id="unmarried">
                                <label class="radio-label" for="unmarried">Unmarried</label>
                                <input class="radio-button" type="radio" name="married" id="divorced">
                                <label class="radio-label" for="divorced">Divorced</label>
                            </div>
                        </div>
                    </div>

                    <input type="submit" value="Submit">
                </form> <!-- Form section -->

            </div>





        </div>

    </main>

    <footer>
        <div class="container">

        </div>
    </footer>
</body>

</html>